@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');

:root {
  --bg-color: #24273a;
  --text-color: #cad3f5;
  --subtext: #a5adcb;

  --bg-color-dark: #1e2030;

  --nav-bg-color: rgba(30, 32, 48, 0.5);
  --nav-text-size: 1.5em;

  --accent: #7dc4e4;
  --surface: #494d64;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Inter, sans-serif;

  margin: 0;
}

nav {
  width: 100%;
  position: sticky;
  top: 0;

  z-index: 10000;
}

a {
  color: var(--accent);
  text-decoration: none;
  cursor: pointer;
}

nav ul {
  background-color: var(--nav-bg-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  width: 75%;

  margin: 0 auto;
  padding: 1em;
  border-radius: calc(var(--nav-text-size) + 2em);

  display: flex;
  justify-content: space-around;
  align-items: center;

  list-style: none;
  font-size: var(--nav-text-size);
}

nav ul li a {
  text-decoration: none;
  color: var(--text-color);
  transition-duration: 0.2s;
}

nav ul li a:hover {
  transition-duration: 0.2s;
  text-shadow: 0 0 1em var(--text-color);
}

main {
  width: 75%;
  margin: 0 auto;
}

#title {
  font-size: clamp(5em, 12em, 13em);
  margin: 0;
  text-align: center;
}

#cta-wrapper {
  display: flex;
  justify-content: space-between;
}

#desc {
  color: var(--subtext);
  font-size: 1.5em;
}

#cta {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#cta-link {
  height: 100%;
  width: 40%;

  text-decoration: none;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;

  & button {
    cursor: pointer;
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: 700;

    padding: 0.75em;
    background-color: transparent;
    border: none;

    font-size: 1.5em;

    & p { margin: 0 10%; }
  }

  &:first-child {
    background-color: var(--accent);
    
    &:hover {
      box-shadow: 0 0 1em var(--accent);
    }
  }

  &:last-child {
    background-color: var(--bg-color-dark);

    &:hover {
      box-shadow: 0 0 1em var(--bg-color-dark);
    }
  }
}

#gh-logo {
  height: 1.5em;
}

#features {
  display: flex;
  margin: 2em 0;
  gap: 1em;

  color: var(--bg-color);
}

.feature {
  width: 33%;

  aspect-ratio: 1;  /* 1:1 */
  background-color: var(--accent);

  padding: 1em;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  border: 5px solid var(--bg-color-dark);
  border-radius: 1em;

  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;

  & img {
    height: 50%;
    margin-bottom: 1em;
  }

  &:hover {
    transform: translateY(-1.25em);
    box-shadow: 0 0 1em var(--accent);
  }
}

#requirements {
  display: flex;
  justify-content: space-around;
  gap: 1em;
}

#demo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 3em;
}

.this-abt {
  background-color: var(--surface);
  padding: 1em;
  box-sizing: border-box;
  border-radius: 1em 0 0 1em;

  & h2 {
    margin: 0;
  }
}

.this-cmd {
  background-color: var(--bg-color-dark);
  padding: 1em;
  box-sizing: border-box;
  border-radius: 0 1em 1em 0;

  font-size: 1.25em;
  white-space: pre-line;

  display: flex;
  justify-content: start;
  align-items: start;
}

footer {
  width: 100%;
  background-color: var(--bg-color-dark);
  color: var(--text-color);

  margin: 5em 0 0 0;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1em;
  box-sizing: border-box;
}
